<div class="container" id="main-container">
    <div class="row">
        <div class="col-lg-4 col-xl-4 mt-3">
            <div class="card-box text-center">
                <ul class="list-group">
                    <li class="list-group-item text-center">
                        <div class="text-center">
                            <button class="btn btn-outline-info float-end"
                                style="position: relative; margin-left: 40%;">
                                <i class="fas fa-pen"></i>
                            </button>
                            <div class="profile-userpic">
                                <img class="rounded-circle z-depth-2 text-center" alt="100x100" style="width: 250px;"
                                    src="../../../assets/nicholas.jpg" data-holder-rendered="true">
                            </div>
                        </div>
                        <h3 class="mt-3">Muhamad Iqbal</h3>
                        <label for="card_number">Card Number*</label>
                        <div>
                           
                          
                            <input class="form-control" id="select__content" aria-describedby="emailHelp" ngModel
                            (ngModelChange)="onGetKartubyid($event)">
                        

                    </div>
                        <div class="d-flex align-items-center justify-content-center mb-3">
                            <i class="fas fa-star text-warning"></i>
                        </div>
                        <p class="text-muted" style="color: #4ea1c4">Bronze Member</p>
                    </li>
                    <li class="list-group-item text-start">Pasien</li>
                    <li class="list-group-item text-start">Pembelian Obat</li>
                    <li class="list-group-item text-start">Rencana Kedatangan</li>
                    <li class="list-group-item text-start">Pembelian Obat</li>
                </ul>
            </div>
        </div>

        <div class="col card text-center">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link" href="#">profil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">alamat</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="true">Pembayaran</a>
                    </li>
                </ul>
            </div>


            <div class="card-body">
                <div class="card" style="width: 100%;">
                    <div class="mt-2 container">
                        <div class="p-2">
                            <h3 class="card-title col-lg-9 text-left" style="color:#4ea1c4">Kartu Kredit / Debit (
                                {{kartu.length}}/4 Tersimpan)</h3>
                            <button class="btn btn col-lg-3" style="background-color:#4ea1c4; color: #fff;"
                                [disabled]="kartu.length>=4" data-toggle="collapse"
                                (click)="onOpenModal(null!!, 'add')">+
                                Tambah
                            </button>
                        </div>
                    </div>

                    <div class="card-body">
                        <div>
                            <table>
                                <tr class="d-flex align-items flex-start" *ngFor="let c of kartu index as i">
                                    <td>{{c.card_number}}
                                        <br>
                                        {{c.valid }}
                                    </td>

                                    <td *ngIf="jenisbank[i] ==1" class="px-5"><img src="../../../assets/visa.png"
                                            style="width:40px" alt=""></td>
                                    <td *ngIf="jenisbank[i] ==2" class="px-5"><img src="../../../assets/mastercard.webp"
                                            style="width:40px" alt=""></td>
                                    <td *ngIf="jenisbank[i] ==3" class="px-5"><img src="../../../assets/jcb.png"
                                            style="width:40px" alt=""></td>
                                    <td *ngIf="jenisbank[i] ==4" class="px-5"><img
                                            src="../../../assets/americanexpress.png" style="width:40px" alt="">
                                    </td>
                                    <td type="button" class="btn-outline"><i class="fas fa-trash me-2"
                                            style="color:#4ea1c4" (click)="onOpenModal(c, 'delete')"></i>Hapus</td>

                                </tr>

                            </table>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="mt-2 container">
                        <div class="p-2 d-flex justify-content-between">
                            <div class="Dompet">
                                <h3 class="card-title" style="color:#4ea1c4">Dompet Sehat</h3>
                            </div>
                            <div class="tombol">
                                <button class="btn" style="background-color:#4ea1c4; color: #fff;"
                                    [disabled]="tombolaktif!=true" (click)="openModal(null!,'tambahsaldo')">Isi
                                    Saldo</button>
                                <button class="btn"
                                    style="background-color:#4ea1c4; color: #fff; margin-right: 10px; margin-left: 10px;"
                                    [disabled]="tombolaktif!=true">Atur Pin</button>
                                <button *ngIf="!tombolaktif" class="btn" style="background-color:#4ea1c4; color: #fff;"
                                    (click)="onOpenModal(null!!, 'aktif')">Aktifkan</button>
                                <button *ngIf="tombolaktif" class="btn" style="background-color:#4ea1c4; color: #fff;"
                                    (click)="onOpenModal(null!!, 'tutup')">tutup</button>

                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <table>
                            <p *ngIf="!tombolaktif" class="my-4 "
                                style="font-size:30px;text-align: center;justify-content: center;">Belum Aktif </p>

                            <tr class="d-flex align-items flex-start" *ngFor="let size of valuewallet">
                                <h1 style="font-size:45px; color:#4ea1c4;" data-type="currency"
                                    pattern="^\$\d{1,3}(,\d{3})">Rp. {{size.balance}},00</h1>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="addKartuModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="exampleModalLabel">Tambah kartu Kredit</h1>
                <button type="button" class="close" aria-label="Close" data-bs-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form #addForm="ngForm" (ngSubmit)="onAddKartu(addForm)">
                    <div class="form-group">
                        <input type="hidden" ngModel="{{ deleteK.id }}" name="id" id="id">
                    </div>
                    <div class="form-group">
                        <label for="card_number">Card Number*</label>
                        <input ngModel type="number" class="form-control" id="card_number" name="card_number"
                            aria-describedby="emailHelp" placeholder="Nomor kartu Kredit" required>
                        <p *ngIf="peringatankartu ==true">Kartu Kredit / Debit telah terdaftar</p>
                    </div>
                    <div align="center">

                        <img src="../../../assets/mastercard.webp" alt="mastercard" width="50" height="30">


                        <img src="../../../assets/visa.png" alt="visa" width="50" height="30">


                        <img src="../../../assets/jcb.png" alt="jcb" width="50" height="30">


                        <img src="../../../assets/americanexpress.png" alt="american expres" width="35" height="30">


                    </div>


                    <div class="row">
                        <div class="col">
                            <label for="validity_period">Validity Periode*</label>
                            <input ngModel type="month" class="form-control" id="validity_period" name="validity_period"
                                aria-describedby="emailHelp" placeholder="yyyy-mm" required>
                            <p *ngIf="peringatanexp ==true">Kartu anda telah expired</p>
                        </div>
                        <div class="col">
                            <label for="cvv">Card Verification Value *</label>
                            <input ngModel type="number" class="form-control" id="cvv" name="cvv"
                                aria-describedby="emailHelp" placeholder="Card Verification Value" required>
                            <p *ngIf="peringatanbank ==true">Bank anda tidak tersedia</p>
                        </div>

                    </div>

                    <div class="modal-footer">
                        <button type="button" id="add-blood-form" class="btn btn-secondary"
                            data-bs-dismiss="modal">Tutup</button>
                        <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary"
                            data-bs-dismiss="modal">Simpan</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal DELETE -->
<div class="modal fade" id="DeleteKartuPembayaran" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="exampleModalLabel" tabindex="">Hapus Kartu Kredit/Debit</h1>
                <button type="button" class="close" aria-label="Close" data-bs-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="form-group">
                <input type="hidden" ngModel="{{ deleteK.id }}" name="id" id="id">
            </div>
            <div class="modal-body">
                <p align="center">
                    Anda setuju untuk menghapus kartu kredit/ debit? <br> {{ deleteK.card_number }}
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tidak</button>
                <button (click)="onDeleteKartu(deleteK.id)" type="button" class="btn btn-primary"
                    (click)="onOpenModal(null!!, 'bhapus')" data-bs-dismiss="modal">Ya</button>
            </div>
        </div>
    </div>
</div>
<!-- tambah Saldo -->
<div class="modal fade" id="tambahSaldo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body">
                <label for="">Isi Saldo</label>
                <div class="mb-3">
                    <select class="input form-control" ngModel (ngModelChange)="setValue($event)">
                        <option value="" selected disabled hidden>--Pilih--</option>
                        <option class="input form-control" *ngFor="let value of defaultNominal" [value]="value.nominal">
                            {{value.nominal}}
                        </option>
                        <ng-container *ngIf="customnominal.length!=0">
                            <option class="input form-control" *ngFor="let value of customnominal;let i=index"
                                [value]="value.nominal">Custom {{i+1}}= {{value.nominal}}</option>
                        </ng-container>
                        <option class="input form-control" value="other">--Nominal--</option>
                    </select>
                </div>
                <form #tambahSaldo="ngForm">
                    <div *ngIf="hidden">
                        <label>Nominal Lain</label>
                        <div class="mb-3">
                            <input class="input form-control" type="text" name="nominal"
                                ngModel="{{tambahnominal.nominal}}" placeholder="min Rp. 10.000"
                                style="text-align: center;font-style: italic;">
                            <p *ngIf="hidden" style="color: red">{{pesan}}</p>

                        </div>
                    </div>
                </form>
                <div>
                    <button class="btn btn-default" data-bs-dismiss="modal">close</button>
                    <button class="btn btn-success m-2" (click)="onGetWalletTambah()" *ngIf="buttonhidden1">Tambah
                        Saldo </button>
                    <button class="btn btn-success m-2"
                        (click)="onGetWalletTambah1(tambahSaldo);tambahSaldo.resetForm();" *ngIf="buttonhidden">Tambah
                        Saldo</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- modalberhasil dihapus -->
<div id="Berhasildihapus" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title">Hapus Kartu kredit</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Kartu Kredit / debit berhasil dihapus</p>
            </div>
        </div>
    </div>
</div>
<!-- succes -->
<div id="success" class="modal fade modaldelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <div class="icon-box">
                    <i class="material-icons">&#xE876;</i>
                </div>
                <button type="button" class="close" data-bs-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body text-center modal-content__body ">
                <h4>Berhasil!</h4>
                <p class="mt-4">Saldo Anda Sudah Bertambah.</p>
                <button class="btn btn-success" data-bs-dismiss="modal"><span>Kembali</span> <i
                        class="material-icons">&#xE5C8;</i></button>
            </div>
        </div>
    </div>
</div>