<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<section id="main-container" class="container">
    <!-- Begin .page-heading -->

    <div class="row">
        <div class="col-lg-4 col-xl-4 mt-3">

            <div class="card-box text-center">

                <ul class="list-group ">
                    <li class="list-group-item">
                        <div class="text-center">
                            <button (click)="onOpenModal(null!!, 'foto')" class="btn btn-outline-info float-end"
                                style="position: relative; margin-left: 40%;">
                                <i class="fas fa-pen"></i>
                            </button>

                            <img class="rounded-circle z-depth-2 text-center" alt="100x100"
                                style="width: 130px; height: 130px;object-fit: cover;"
                                [src]="imgUrl" data-holder-rendered="true">
                        </div>

                        <h3 class="mt-3"> {{user.biodata_id}} : dr. {{mProfileDoctor.fullname}}, {{mProfileDoctor.str}}</h3>
                        <p class="text-muted">{{mProfileDoctor.name}}</p>

                        <div class="d-flex align-items-center justify-content-center mb-3">
                            <i class="fas fa-star text-warning"></i>
                            <i class="fas fa-star text-warning"></i>
                            <i class="fas fa-star text-warning"></i>
                            <i class="fas fa-star text-warning"></i>
                            <i class="fas fa-star text-warning"></i>
                        </div>
                    </li>
                    <li class="list-group-item text-start">Janji <span class="badge bg-info float-end">{{jumlah_janji}}</span> </li>
                    <li class="list-group-item text-start">Obrolan/Konsultasi</li>
                </ul>
            </div>

            <div class="panel mt-3">
                <div class="panel-heading">
                    <span class="panel-icon">
                        <i class="fa fa-pencil"></i>
                    </span>
                    <span class="panel-title">Tentang Saya</span>
                </div>
                <div class="panel-body pb5">

                    <div class="card-box">
                        <h3 class="header-title">Tindakan</h3>
                        <ul>
                            <li *ngFor="let treatment of MDoctorTreatment ">
                                <h4>{{treatment.tindakan}}</h4>
                            </li>
                        </ul>
                    </div>
                    <hr class="short br-lighter">
                    <div class="card-box">
                        <h3 class="header-title">Riwayat Praktek</h3>
                        <ul>
                            <li *ngFor="let riwayat of MRiwayatPraktek">
                                <h4 class="mb-0">{{riwayat.faskes_name}}, {{riwayat.location}}</h4>

                                <div class="d-flex flex-row bd-highlight">
                                    <div class="p-2 bd-highlight">
                                        <h5 class="text-muted">{{riwayat.specialization}}</h5>
                                    </div>
                                    <div class="ms-auto p-2 bd-highlight">
                                        <h5 class="text-muted">{{riwayat.tahun_mulai}} - {{riwayat.tahun_selesai}}</h5>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <hr class="short br-lighter">
                    <div class="card-box">
                        <h3 class="header-title">Pendidikan</h3>
                        <ul>
                            <li *ngFor="let education of MDoctorEducation ">
                                <h4>{{education.institution_name}}
                                    <div class="d-flex flex-row bd-highlight">
                                        <div class="p-2 bd-highlight">
                                            <h5 class="text-muted">{{education.major}}</h5>
                                        </div>
                                        <div class="ms-auto p-2 bd-highlight">
                                            <h5 class="text-muted">{{education.start_year}}</h5>
                                        </div>
                                    </div>
                                </h4>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-lg-8 mt-3">
            <div class="card z-depth-3">
                <div class="card-body">
                    <ul class="nav nav-pills nav-pills-primary nav-justified">
                        <li class="nav-item">
                            <a href="javascript:void();" data-target="#Spesialisasi" data-toggle="pill"
                                class="nav-link active show"><span class="hidden-xs">Spesialisasi</span></a>
                        </li>
                        <li class="nav-item">
                            <a href="javascript:void();" data-target="#Tindakan" data-toggle="pill"
                                class="nav-link"><span class="hidden-xs">Tindakan</span></a>
                        </li>
                        <li class="nav-item">
                            <a href="javascript:void();" data-target="#Aktivitas" data-toggle="pill"
                                class="nav-link"><span class="hidden-xs">Aktivitas</span></a>
                        </li>
                        <li class="nav-item">
                            <a href="javascript:void();" data-target="#Konsultasi" data-toggle="pill"
                                class="nav-link"><span class="hidden-xs">Konsultasi</span></a>
                        </li>
                        <li class="nav-item">
                            <a href="javascript:void();" data-target="#Pengaturan" data-toggle="pill"
                                class="nav-link"><span class="hidden-xs">Pengaturan</span></a>
                        </li>
                    </ul>
                    <div class="tab-content p-3">
                        <div class="tab-pane active show" id="Spesialisasi">
                            {{mProfileDoctor.name}}
                            <div class="float-end">
                                <button *ngIf="isEnableTS == 0" (click)="onOpenModal(null!!, 'add')"
                                    class="btn btn-outline-primary"><i class="fas fa-plus"></i></button>
                                <button *ngIf="isEnableTS !== 0" (click)="onOpenModal(TSpecialization, 'edit')"
                                    class="btn btn-outline-danger ms-3"><i class="fas fa-pen"></i></button>
                            </div>
                        </div>
                        <div class="tab-pane" id="Tindakan">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Modal Add-->
<div class="modal fade" id="addTSModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Pilih Spesialisasi</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form  #addForm="ngForm" (ngSubmit)="onAddTSpecialization(addForm)">

                    <div class="mb-3">
                        <label for="name">Spesialisasi*</label>
                        <select ngModel name="specialization_id" id="specialization_id" class="form-control">
                            <option value="" disabled selected hidden>--Select Spesialisasi--</option>
                            <option *ngFor="let ms of MSpecialization" value="{{ms.id}}">
                                {{ms.name}}
                            </option>
                        </select>
                    </div>

                    <div class="modal-footer">
                        <button type="button" id="add-TSpecialization-form" class="btn btn-secondary"
                            data-bs-dismiss="modal">Batal</button>
                        <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Tambah
                            Data</button>
                    </div>
                </form>
               
            </div>
        </div>
    </div>
</div>

<!-- Modal Edit-->
<div class="modal fade" id="editTSModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ubah Spesialisasi</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form #editForm="ngForm">
                    <div class="mb-3">
                        <label for="spesializationname">Spesialisasi</label>
                        <select name="specialization_id" id="specialization_id"
                            ngModel="{{editTSpecialization.specialization_id}}" class="form-control">
                            <option *ngFor="let Ms of MSpecialization" ngValue="{{Ms.id}}">
                                {{Ms.name}}
                            </option>
                        </select>
                    </div>

                    <div class="modal-footer">
                        <button type="button" id="add-TSpecialization-form" class="btn btn-secondary"
                            data-bs-dismiss="modal">Tutup</button>
                        <button (click)="onEditTSpecialization(editForm.value)" type="submit"
                            class="btn btn-primary">Edit
                            Data</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- succes -->
<div id="success" class="modal fade modaldelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog modal-confirm">
    <div class="modal-content">
        <div class="modal-header justify-content-center">
            <div class="icon-box">
                <i class="material-icons">&#xE876;</i>
            </div>
            <button type="button" class="close" data-bs-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body text-center modal-content__body ">
            <h4>Berhasil!</h4>
            <button class="btn btn-success" data-bs-dismiss="modal"><span>Kembali</span></button>
        </div>
    </div>
</div>
</div>


<!-- Modal Foto -->
<div class="modal fade" id="editFoto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ubah Foto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="file" data-bs-dismiss="modal" (change)="editFotoDoctor($event)">
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Keluar</button>
            </div>
        </div>
    </div>
</div>