<div class="container" id="main-container">
    <div class="row mt-3">
        <div class="col-4">
            <div class="card">
                <h2 class="card-header">Profile</h2>
                <div class="card-body">
                    <div class="text-center">
                        <div class="text-center" style="width: 150px; height: 150px; margin-left: 35%;">
                            <i class="fas fa-pencil-alt float-end"></i>
                            <img class="rounded-circle z-depth-2" alt="100x100"
                                style="width: 130px; height: 130px;object-fit: cover;"
                                src="../../../assets/download.png" data-holder-rendered="true">
                        </div>
                        <div class="row mt-3">
                            <div class="profile-usertitle">
                                <div class="profile-usertitle-name">
                                    <h2> Nicholas </h2>
                                </div>
                            </div>
                            <div class="profile-usermenu">
                                <ul class="">
                                    <li href="#">
                                        <a href="#">
                                            <i class="icon-home"></i> Pasien
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="icon-settings"></i> Pembelian Obat
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="icon-info"></i> Rencana Kedatangan
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="icon-settings"></i> Riwayat Chat Dokter
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-8">
            <div class="card">
                <h1 class="card-header">Daftar Pasien</h1>
                <div class="card-body">
                    <!-- Search -->
                    <div class="d-flex">
                        <div class="search">
                            <input type="text" ngModel (ngModelChange)="onSearchPasien($event)"
                                class="btn btn-outline-primary" placeholder="Cari nama pasien">
                            <button type="submit" class="searchButton btn btn-primary">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                        <div>
                            <label class="ml-3">Urutkan</label>
                            <select [ngModel]="sortedby" (ngModelChange)="sortingSortedBy($event)"
                                class="btn btn-outline-primary ml-3">
                                <option value="fullname">Nama</option>
                                <option value="usia">Usia</option>
                            </select>
                        </div>
                    </div>
                    <br>
                    <div class="justify-content-end">
                        <div class="d-flex">
                            <div>
                                <button *ngIf="tempSelectID.length > 0" type="button" class="btn ml-3"
                                    data-toggle="collapse" (click)="onOpenModal(null!!, 'deleteSelect')"><i
                                        class="fas fa-trash-alt"></i>
                                    Hapus</button>
                            </div>
                            <ul class="d-flex float-end">
                                <li>
                                    <select [ngModel]="mode" (ngModelChange)="sortingMode($event)"
                                        class="btn btn-outline-white">
                                        <option value="asc">A-Z</option>
                                        <option value="desc">Z-A</option>
                                    </select>
                                </li>
                                <li>
                                    <select [ngModel]="recordPerPage" (ngModelChange)="selectRecordPerPage($event)"
                                        class="btn btn-outline-white">
                                        <option value="5">5</option>
                                        <option value="10">10</option>
                                    </select>
                                </li>
                                <li>
                                    <button type="button" class="btn btn-outline-white" data-toggle="collapse"
                                        (click)="onOpenModal(null!!,'add')">
                                        <i class="fas fa-plus"></i> Tambah </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <br>
                    <table class="table">
                        <tbody>
                            <tr *ngFor="let pasien of pasien, index as i">
                                <td>
                                    <input ngModel (ngModelChange)="iSelected(pasien, $event)" type="checkbox"
                                        aria-label="Checkbox for following text input">
                                </td>
                                <td>
                                    <p>{{pasien.fullname}}</p>
                                    <p>{{pasien.relasi}}, {{pasien.usia}} tahun</p>
                                    <p>9 Chat, 5 Janji Dokter</p>
                                </td>
                                <td>
                                    <button (click)="onOpenModal(pasien, 'edit')" class="btn btn-outline-white"><i
                                            class="fas fa-edit"></i>
                                        Ubah</button>
                                    <button (click)="onOpenModal(pasien, 'delete')"
                                        class="btn btn-outline-white ml-3"><i class="fas fa-trash-alt"></i>
                                        Hapus</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <ul class="pagination justify-content-end">
                        <li class="page item">
                            <button *ngIf="currentPage > 1; else elsePrev" type="button" class="btn btn-outline-primary"
                                (click)="previousPage()">
                                Previous
                            </button>
                            <ng-template #elsePrev>
                                <button disabled type="button" class="btn btn-outline-primary" (click)="previousPage()">
                                    Previous
                                </button>
                            </ng-template>
                        </li>
                        <li class="page-item">
                            <button disabled type="button" class="btn btn-primary ml-3">
                                {{ currentPage }}
                            </button>
                        </li>
                        <li class="page-item">
                            <button *ngIf="currentPage < totalPage; else elseNext" type="button"
                                class="btn btn-outline-primary ml-3" (click)="nextPage()">
                                Next
                            </button>
                            <ng-template #elseNext>
                                <button disabled type="button" class="btn btn-outline-primary ml-3"
                                    (click)="nextPage()">
                                    Next
                                </button>
                            </ng-template>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal ADD-->
<div class="modal fade" id="addTPasienModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel">Tambah Pasien</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="row g-3">
                    <form #addForm="ngForm" (ngSubmit)="onAddPasien(addForm)">
                        <div class="col-12">
                            <label for="fullname" class="form-label">Nama Lengkap *</label>
                            <input ngModel type="text" class="form-control" id="fullname" name="fullname"
                                aria-describedby="emailHelp" placeholder="Nama Lengkap" required>
                        </div>
                        <br>
                        <div class="col-12">
                            <label for="dob" class="form-label">Tanggal Lahir *</label>
                            <input ngModel type="date" class="form-control" id="dob" name="dob"
                                placeholder="Tanggal Lahir" required>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="gender">Jenis Kelamin *</label>
                            </div>
                            <div class="col-md-6">
                                <div class="form-check form-check-inline">
                                    <input ngModel class="form-check-input" type="radio" name="gender" id="gender_p"
                                        value="p" required>
                                    <label class="form-check-label" for="gender_p">Pria</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input ngModel class="form-check-input" type="radio" name="gender" id="gender_w"
                                        value="w" required>
                                    <label class="form-check-label" for="gender_w">Wanita</label>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <label for="blood_group_id">Golongan Darah/Rhesus</label>
                            <div class="col-md-6">
                                <select ngModel name="blood_group_id" class="form-select"
                                    aria-label="Default select example">
                                    <option value="" disabled selected hidden>--Pilih--</option>
                                    <option value="1">A</option>
                                    <option value="2">B</option>
                                    <option value="3">AB</option>
                                    <option value="4">O</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <div class="form-check form-check-inline">
                                    <input ngModel class="form-check-input" type="radio" name="rhesus_type"
                                        id="inlineRh+" value="Rh+">
                                    <label class="form-check-label" for="inlineRh+">Rh+</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input ngModel class="form-check-input" type="radio" name="rhesus_type"
                                        id="inlineRh-" value="Rh-">
                                    <label class="form-check-label" for="inlineRh-">Rh-</label>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="height">Tinggi Badan</label>
                                <input ngModel type="text" class="form-control" id="height" name="height"
                                    aria-describedby="emailHelp" placeholder="Tinggi Badan">
                            </div>
                            <div class="col-md-6">
                                <label for="weight">Berat Badan</label>
                                <input ngModel type="text" class="form-control" id="weight" name="weight"
                                    aria-describedby="emailHelp" placeholder="Berat Badan">
                            </div>
                        </div>
                        <br>
                        <div class="col-12">
                            <label for="relasi">Relasi</label>
                            <div>
                                <select ngModel name="customer_relation_id" class="form-select"
                                    aria-label="Default select example" required>
                                    <option value="" disabled selected hidden>--Pilih--</option>
                                    <option value="1">Ayah</option>
                                    <option value="2">Ibu</option>
                                    <option value="3">Anak</option>
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="add-pasien-form" class="btn btn-secondary"
                                data-dismiss="modal">Batal</button>
                            <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Simpan</button>
                        </div>
                    </form>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal EDIT-->
<div class="modal fade" id="editTPasienModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel">Edit Pasien</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="row g-3">
                    <form #editForm="ngForm">
                        <div class="col-12">
                            <input type="hidden" ngModel="{{ editPasien.id }}" name="id" id="id">
                            <label for="fullname" class="form-label">Nama Lengkap *</label>
                            <input ngModel="{{ editPasien?.fullname }}" type="text" class="form-control" id="fullname"
                                name="fullname" aria-describedby="emailHelp" placeholder="Nama Lengkap" required>
                        </div>
                        <br>
                        <div class="col-12">
                            <label for="dob" class="form-label">Tanggal Lahir *</label>
                            <input ngModel="{{ dobNew }}" type="date" class="form-control" id="dob" name="dob"
                                placeholder="Tanggal Lahir" required>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="gender">Jenis Kelamin *</label>
                            </div>
                            <div class="col-md-6">
                                <div class="form-check form-check-inline">
                                    <input ngModel="{{ editPasien?.gender}}" class="form-check-input" type="radio"
                                        name="gender" id="gender_p" value="p" required>
                                    <label class="form-check-label" for="gender_p">Pria</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input ngModel="{{ editPasien?.gender }}" class="form-check-input" type="radio"
                                        name="gender" id="gender_w" value="w" required>
                                    <label class="form-check-label" for="gender_w">Wanita</label>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <label for="blood_group_id">Golongan Darah/Rhesus</label>
                            <div class="col-md-6">
                                <select ngModel="{{ editPasien?.blood_group_id }}" name="blood_group_id"
                                    class="form-select" aria-label="Default select example">
                                    <option value="" disabled selected hidden>--Pilih--</option>
                                    <option value="1">A</option>
                                    <option value="2">B</option>
                                    <option value="3">AB</option>
                                    <option value="4">O</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <div class="form-check form-check-inline">
                                    <input ngModel="{{ editPasien?.rhesus_type }}" class="form-check-input" type="radio"
                                        name="rhesus_type" id="inlineRh+" value="Rh+">
                                    <label class="form-check-label" for="inlineRh+">Rh+</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input ngModel="{{ editPasien?.rhesus_type }}" class="form-check-input" type="radio"
                                        name="rhesus_type" id="inlineRh-" value="Rh-">
                                    <label class="form-check-label" for="inlineRh-">Rh-</label>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="height">Tinggi Badan</label>
                                <input ngModel="{{ editPasien?.height}}" type="text" class="form-control" id="height"
                                    name="height" aria-describedby="emailHelp" placeholder="Tinggi Badan">
                            </div>
                            <div class="col-md-6">
                                <label for="weight">Berat Badan</label>
                                <input ngModel="{{ editPasien?.weight}}" type="text" class="form-control" id="weight"
                                    name="weight" aria-describedby="emailHelp" placeholder="Berat Badan">
                            </div>
                        </div>
                        <br>
                        <div class="col-12">
                            <label for="relasi">Relasi</label>
                            <div>
                                <select ngModel="{{ editPasien?.customer_relation_id }}" name="customer_relation_id"
                                    class="form-select" aria-label="Default select example" required>
                                    <option value="" disabled selected hidden>--Pilih--</option>
                                    <option value="1">Ayah</option>
                                    <option value="2">Ibu</option>
                                    <option value="3">Anak</option>
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="add-pasien-form" class="btn btn-secondary"
                                data-dismiss="modal">Batal</button>
                            <button (click)="onEditPasien(editForm.value)" type="button" class="btn btn-primary"
                                [disabled]="editForm.invalid" type="submit" data-dismiss="modal">Simpan</button>
                        </div>
                    </form>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal DELETE-->
<div class="modal fade" id="deleteTPasienModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel">Hapus Pasien</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Anda yakin ingin menghapus pasien {{deletePasien.fullname}}?
                </p>
                <p>
                    Riwayat medis pasien akan tetap tersimpan, namun Anda tidak dapat lagi membuat janji dokter/chat
                    online untuk pasien ini.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
                <button (click)="onDeletePasien(deletePasien.id)" type="button" class="btn btn-primary"
                    data-dismiss="modal">Hapus</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal DELETE SELECT-->
<div class="modal fade" id="deleteSelectPasienModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel">Hapus Pasien</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Anda yakin ingin menghapus pasien
                </p>
                <p *ngFor="let pasien of tempSelectID">{{pasien.fullname}}</p>
                <p>
                    Riwayat medis pasien akan tetap tersimpan, namun Anda tidak dapat lagi membuat
                    janji dokter/chat online untuk pasien ini.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
                <button (click)="deleteMulti()" type="button" class="btn btn-primary"
                    data-dismiss="modal">Hapus</button>
            </div>
        </div>
    </div>
</div>