<!-- <div class="wrapper">
  <app-navbar></app-navbar>
  <div class="content-wrapper">
      <router-outlet></router-outlet>
    </div>
  </div> -->

<div class="d-flex flex-row">
  <div *ngIf="user.role_id != null" class="col-lg-2 col-md-2 sidebar">
    <app-sidebar></app-sidebar>
  </div>
  <div class="col p-0">
    <app-nav></app-nav>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
  </div>
  </div> 
