<div class="container" id="main-container">
    <div class="row d-flex mb-3 mt-4">
        <div class="col ms-5" >
            <p>Hasil pencarian berdasarkan kata kunci: 
                <span *ngIf="lokasi!=''">Lokasi: {{lokasi}}, </span>
                <span *ngIf="spesialisasi!=''">Spesialisasi: {{spesialisasi}}, </span>
                <span *ngIf="fullname!=''">Nama Dokter: {{fullname}}, </span>
                <span *ngIf="treatment!=''">Tindakan Dokter: {{treatment}}, </span>
            </p>

        </div>
        <div class="col">
            <button class="btn btn-outline-primary float-end"
                (click)="openModal('cari');onGetDataLoc();onGetDataSpec(); onGetTreatment()">Ulangi Pencarian</button>
        </div>
        <!-- <button (click)="onGet1DataDoctor()">asda</button> -->
    </div>
    <div class="row"> 
        <div class="row flex-wrap">
            <p *ngIf="datdoc.length==0" class="my-4 "style="font-size:40px;text-align: center;justify-content: center;">Tidak ada Data sesuai Kriteria Pencarian</p>
            <div class="col-5 mb-4 card-profile " *ngFor="let data of datdoc| paginate: { itemsPerPage: pageSize, currentPage: page }">
                <ng-container *ngIf="data.RumahSakit.length!=0">
                    <div class="row position-relative p-3" style="border: 2px solid #5697b3;height: 300px;">
                        <div class="col-8 d-flex flex-column">
                            <div>
                                <h3>{{data.fullname}}</h3>
                                <div class="ms-2 ">
                                    <div class="card-content">
                                        <h5>{{data.spesialisasi}}</h5>
                                        <h5>5 Tahun Pengalaman</h5>
                                    </div>
                                    <div class="rumah-sakit" *ngFor="let rs of data.RumahSakit">
                                        <h6><i class="fas fa-hospital-alt"></i> {{rs.Nama}} ({{rs.Alamat}},
                                            {{rs.Lokasi}})</h6>
                                    </div>
                                    <button class="btn btn-outline-primary align-bottom" style="width:80%;">Lihat
                                        Info Lebih
                                        Banyak</button>
                                </div>
                            </div>
                            <div>
                            </div>
                        </div>

                        <div class="col-4 d-flex flex-column justify-content-center">
                            <div class="text-center">
                                <img class="img-dokter" src="../../../assets/{{data.image}}" alt="" style="width:100px;border-radius: 50%">
                            </div>

                                <div class=" d-flex flex-column justify-content-center mt-3 text-center">
                                    <button class="btn btn-outline-primary mt-2 tombol">
                                        Chat
                                    </button>
                                    <button class="btn btn-primary  mt-2 tombol ">
                                        Detail
                                    </button>
                                </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
  
    <!-- <div class="flaot-end">
        <div *ngIf="p==1">{{p}}- {{p*count}} dari {{datdoc.length}}</div>
        <div *ngFor="let data of datdoc; let i=index">
            <div *ngIf="p==i+1 && p>1">{{count+i}} - {{p*count}} dari {{datdoc.length}}</div>
        </div>
    </div> -->
    <div class="float-end d-flex" >  
        <div style="opacity: 0.5;">Menampilkan {{dataawal}} - {{dataakhir}} dari {{datdoc.length}}</div>
        <pagination-controls (pageChange)="handlePageChange($event)"></pagination-controls>
    </div>
</div>

<div class="modal fade" id="cari" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h1>Cari Dokter</h1>
                <p>Masukan Minimal 1 kata kunci untuk pencarian</p>
                <div class="content__whisper">
                    <div class="mb-3">
                        <label class="form-label">Lokasi</label>
                        <select class="form-select" id="select__content" aria-describedby="emailHelp" ngModel
                            (ngModelChange)="getLoc($event)">
                            <option value="" selected disabled hidden *ngIf="!hidden">Lokasi</option>
                            <option value="" selected disabled hidden *ngIf="hidden">Lokasi</option>
                            <option *ngFor="let loc of datloc" [value]="loc.name">{{loc.name}}</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Nama Dokter</label>
                        <input class="form-control" id="select__content" aria-describedby="emailHelp" ngModel
                            (ngModelChange)="getNameDoc($event)">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" >Spesialisasi/Sub-spesialisasi*</label>
                        <select class="form-select" id="select__content" aria-describedby="emailHelp" ngModel
                            (ngModelChange)="getSpesialisasi($event)" required>
                            <option value="" selected disabled hidden *ngIf="!hidden" >Spesialisasi</option>
                            <option value="" selected disabled hidden *ngIf="hidden" >Spesialisasi</option>
                            <option *ngFor="let spec of datspec" [value]="spec.name">{{spec.name}}</option>
                        </select>
                        <div id="emailHelp" class="form-text ms-2" style="color: red">*Pilihan Spesialisasi harus diisi.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Tindakan Medis</label>
                        <select class="form-select" id="select__content" aria-describedby="emailHelp" ngModel
                            (ngModelChange)="getTreatment($event)">
                            <option value="" selected disabled hidden *ngIf="!hidden" >Tindakan Medis</option>
                            <option value="" selected disabled hidden *ngIf="hidden" >Tindakan Medis</option>
                            <option *ngFor="let treat of dattreat" [ngValue]="treat.name">{{treat.name}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="footer">
                <button type="button" class="btn btn-outline-primary me-3 "  (click)="onReset()">Atur Ulang</button>
                <button type="button" class="btn btn-primary" (click)="onGetDataDoctor()" data-bs-dismiss="modal" >Cari</button>
            </div>
        </div>
    </div>
</div>