/* .button-detail_chat{
    height: 20px;
    font-size:12px;
} */
h1{
    color: #5697b3;
}
.content__whisper{
    margin-left: 5%;
    margin-right: 5%;
}
.info{
    bottom:0
}
.card-profile{
    margin-right: 30px;
    margin-left:50px
}

#select__content{
    border: 1px solid #5697b3;
}
.footer{
    text-align: center;
    margin-bottom:20px;
}

button.btn.btn-outline-primary.align-bottom {
    bottom: 0;
    position: absolute;
}

.img-dokter{
    position: absolute;
    top: 25px;
    right: 0;
    margin-right: 20px;
    border: 1px solid #5697b3;
}

.d-flex.flex-column.justify-content-center.mt-3.text-center {
    position: absolute;
    bottom: 0;
}

.tombol {
    width: 100px;
    margin-left: 21px;
}

h6 {
    margin: 0 0;
    line-height: 20px;
}