<div class="position-fixed">
    <ul class="navbar-nav mx-auto sidebar-menu">
        <li class="nav-item">
            <a class="nav-link mx-3 pb-3 text-dark" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
            <a *ngIf="user.role_id == 3" class="nav-link mx-3 pb-3 text-dark" href="">Artikel</a>
        </li>
        <li class="nav-item">
            <a *ngIf="user.role_id == 2" class="nav-link mx-3 pb-3 text-dark" routerLink="/pasien">Pasien</a>
        </li>
        <li class="nav-item ">
            <a href="#" class="nav-link mx-3 pb-3 text-dark" *ngIf="user.role_id == 2" routerLink="/profile">Profile</a>
          </li>
        <li class="nav-item">
            <a *ngIf="user.role_id == 1" class="nav-link mx-3 pb-3 text-dark" routerLink="/profile">Dokter</a>
        </li>
        <li class="nav-item">
            <a *ngIf="user.role_id == 3" class="nav-link mx-3 pb-3" routerLink="/m-specialization">Spesialisasi Doctor</a>
        </li>
        <li class="nav-item">
            <a *ngIf="user.role_id == 3" class="nav-link mx-3 pb-3" routerLink="/profile-doctor">Profile Doctor</a>
        </li>
        <li class="nav-item">
            <a *ngIf="user.role_id == 3" class="nav-link mx-3 pb-3" routerLink="/detail-doctor">Detail Doctor</a>
        </li>
    </ul>

    <!-- <button class="btn btn-login ml-1">
        {{ user.email }}
    </button> -->

</div>