<div class="container" id="main-container">

    <div class="container">
        <h1 class="titile-data-karyawan">Jenis Pembayaran</h1>
        <div class="top-content">
            <button (click)="openModal(null!,'add')" type="button" class="btn btn-primary addbutton"
                data-toggle="collapse"><i class="fas fa-plus-circle"></i>
                Tambah</button>
            <ul class="filterby ">
                <select class="form-select filter" ngModel (ngModelChange)="getFilter($event)">
                    <option value="" selected disabled hidden>Filter</option>
                    <option value="asc">A-Z</option>
                    <option value="desc">Z-A</option>
                </select>
            </ul>
            <div class="wrap">
                <div class="searchItem">
                    <input type="text" class="searchTerm" placeholder="What are you looking for?" ngModel
                        (ngModelChange)="onGetSearched($event)">
                    <button type="submit" disabled class="searchButton">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>


        </div>
    </div>


    <div class="container1">
        <div class="col-12">
            <table class="table styled-table">
                <thead>
                    <tr>
                        <th scope="col" class="data-number">No</th>
                        <th scope="col">Jenis Pembayaran</th>
                        <th scope="col" class="action-button">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of payment| paginate: { itemsPerPage: count, currentPage: p } ;let i = index">
                        <th class="data-number">{{i+1}}</th>
                        <td class="data-name">{{data.name}}</td>
                        <td class="action-button">
                            <button class="btn btn-primary" (click)="openModal(data,'edit')"><i
                                    class="fas fa-edit"></i></button>
                            <button class="btn btn-danger m-2" (click)="openModal(data,'delete')"><i
                                    class="fa fa-trash"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
            <select class="form-select" style="width:100px; border: 0.5px solid #5697b3; height:30px;font-size: small; "
                ngModel (ngModelChange)="setDataOfPagination($event)">
                <option value="" selected disabled hidden style="color:black;font-size: small;">Size</option>
                <option class="btn btn-outline-success" style="color:black;font-size: small;"
                    *ngFor="let size of sizePagination" [ngValue]="size">{{size}}
                </option>
            </select>
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </ul>
    </nav>

</div>

<!-- Add Modal -->
<div class="modal fade" id="tambah" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Tambah Jenis Pembayaran</h5>
            </div>
            <div class="modal-body">
                <form #addForm="ngForm" (ngSubmit)=" onAddJenisPembayaran(addForm)">
                    <div class="mb-3">
                        <label for="name">Nama Pembayaran*</label>
                        <input ngModel type="text" class="form-control" name="name"
                            placeholder="Masukan Nama Pembayaran" required>
                            <p *ngIf="hidden" style="color:red"> {{pesan}}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" id="add-form" data-bs-dismiss="modal"
                            (click)="onClose()">Close</button>
                        <button type="submit" [disabled]="addForm.invalid" class="btn btn-primary">Simpan</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title">Edit Jenis Pembayaran</h1>
            </div>
            <div class="modal-body ">
                <form #editForm="ngForm">
                    <div class="mb-3 containeredit">
                        <label type="text" hidden ngModel="{{editPayment.id}}" name="id">{{editPayment.id}}</label>
                        <label for="name" class="nameedit">Masukan</label>
                        <input ngModel={{editPayment.name}} type="text" class="form-control" name="name"
                            placeholder="Masukan Nama Pembayaran" required>
                        <p *ngIf="hidden" style="color:red"> {{pesan}}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary editprimary canceleditbtn" id="add-form"
                            data-bs-dismiss="modal" (click)="onClose()">Close</button>
                        <button type="submit" (click)="onGetEditJenissPembayaran(editForm.value)"
                            class="btn btn-primary  editprimary succeseditbtn">Simpan</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal fade modaldelete" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <form>
                    <div class="containerdelete">
                        <h1>Hapus Jenis Pembayaran</h1>
                        <p>Apakah kamu yakin akan mengahapus<b>{{deletepayment.name}} </b>?</p>
                        <div class="clearfix">
                            <button type="button" class="cancelbtn deleteprimary "
                                data-bs-dismiss="modal">Cancel</button>
                            <button type="button" (click)="onDelete(deletepayment.id)" class="deletebtn deleteprimary "
                                data-bs-dismiss="modal">Delete</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="success" class="modal fade modaldelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <div class="icon-box">
                    <i class="material-icons">&#xE876;</i>
                </div>
                <button type="button" class="close" data-bs-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body text-center modal-content__body ">
                <h4>Berhasil!</h4>
                <button class="btn btn-success" data-bs-dismiss="modal"><span>Kembali</span> <i
                        class="material-icons">&#xE5C8;</i></button>
            </div>
        </div>
    </div>
</div>


<div id="deleteModal" class="modal fade modaldelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
            <div class="modal-header-delete justify-content-center">
                <div class="icon-box">
                    <i class="material-icons">&#xE876;</i>
                </div>
                <button type="button" class="close" data-bs-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body text-center modal-content__body ">
                <h4>Berhasil!</h4>
                <button class="btn btn-success btn-delete" data-bs-dismiss="modal"><span>Kembali</span> <i
                        class="material-icons">&#xE5C8;</i></button>
            </div>
        </div>
    </div>
</div>