.navbar {
    background: linear-gradient(-45deg, #9918af, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400%;
	animation: gradient 10s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}