<!-- Navbar -->
<nav class="main-header navbar navbar-expand navbar-white navbar-dark">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="#" class="nav-link">Home</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" routerLink="/m-specialization">Spesialisasi</a>
      </li>
      <li class="nav-item d-none d-sm-inline-block" [routerLinkActive]="['active']">
        <a href="#" class="nav-link" routerLink="/bank">Daftar Bank</a>
      </li>
      <li class="nav-item d-none d-sm-inline-block" [routerLinkActive]="['active']">
        <a href="#" class="nav-link" routerLink="/payment">Payment</a>
      </li>
      <li class="nav-item d-none d-sm-inline-block" [routerLinkActive]="['active']">
        <a href="#" class="nav-link" routerLink="/profile">Profile</a>
      </li>
      <li class="nav-item d-none d-sm-inline-block" [routerLinkActive]="['active']">
        <a href="#" class="nav-link" routerLink="/pasien">Pasien</a>
      </li>
      <li class="nav-item d-none d-sm-inline-block" [routerLinkActive]="['active']">
        <a href="#" class="nav-link" routerLink="/mbloodgroup">Golongan darah</a>
      </li>
      <li>
        <button
          class="btn " style="background-color:#4ea1c4; color: #fff;"data-toggle="collapse" (click)="onOpenModal(null!!, 'cari')">Cari Obat                        
        </button>
      <li class="nav-item d-none d-sm-inline-block" [routerLinkActive]="['active']">
        <a href="#" class="nav-link" routerLink="/defaultnominal">Default Nominal</a>
      </li>
      <li class="nav-item d-none d-sm-inline-block" [routerLinkActive]="['active']">
        <a href="#" class="nav-link" routerLink="/cari-dokter">Cari</a>
      </li>
  </ul>
    
  
  
    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
  
      <!-- Messages Dropdown Menu -->
      <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
          <i class="far fa-comments"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
          <a href="#" class="dropdown-item">
  
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item dropdown-footer">See All Messages</a>
        </div>
      </li>
      <!-- Notifications Dropdown Menu -->
      <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
          <i class="far fa-bell"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
  
          <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-widget="fullscreen" role="button">
          <i class="fas fa-expand-arrows-alt"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="." role="button">
          <i class="fas fa-th-large"></i>
        </a>
      </li>
    </ul>
  </nav>
  <!-- /.navbar -->


<!-- Modal cari obat -->
<!-- <div id = "CariObat"class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title">Cari Obat dan Alat Kesehatan</h1>
        <br>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      
      </div>
      <div class="modal-body">
        <h4 align ="center">Masukan minimal 1 Kata Kunci untuk pencarian anda</h4>
      </div>
      <div>
        <label for="kategori">kategori</label>
        <select class="form-select" aria-label="Default select example">
          <option selected>Open this select menu</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
      <div>
        <label for="kategori">kategori</label>
        <input ngModel (ngModelChange)="onSearchObat($event)" class="form-control me-2" type="search"
        placeholder="Cari" aria-label="Search">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div> -->
