<!-- <section class="header d-flex align-items-center" id="section-home">
  <div class="container">
    <div class="d-flex align-items-center">
      <div class="header-content row col-lg-8">
        <h1 class="title mb-3 p-0">Protect Your Healt And <br> Take Care</h1>
        <p class="mb-3">Chat dokter, kunjungi rumah sakit, beli obat</p>
        <div class="card card-header col-lg-2 mr-2">
          <img class="card-img-top" src="../../../assets/chat.png" alt="Card image cap">
          <p class="text-center my-2">Chat dokter</p>
        </div>
        <div class="card card-header col-lg-2 mr-2">
          <img class="card-img-top" src="../../../assets/chat.png" alt="Card image cap">
          <p class="text-center my-2">Chat dokter</p>
        </div>
        <div class="card card-header col-lg-2 mr-2">
          <img class="card-img-top" src="../../../assets/chat.png" alt="Card image cap">
          <p class="text-center my-2">Chat dokter</p>
        </div>
        <div class="card card-header col-lg-4 mr-2 justify-content-around">
          <p class="font-weight-bold">Hubungi kami</p>
          <button type="button" class="btn btn-login font-weight-bold">Call</button>
        </div>
      </div>
      <div class="col-lg-4">
        <img class="homeimg text-center" src="../../../assets/Health _Monochromatic.svg" alt="">
      </div>
    </div>
  </div>
</section> -->

<section class="header d-flex align-items-center" id="section-home">
  <div class="container">
    <div class="row align-items-center g-2">
      <div class="col-lg-8">
        <h1 class="title mb-3 p-0">Lindungi Kesehatan Anda dan <br> Jaga Kesehatanmu</h1>
        <div class="row mt-5">
          <div class="col-lg-4 d-flex justify-content-start mr-2">
            <i class="fas fa-calendar-week me-3"></i>
            <div>
              <p class="fw-bold">Buat janji dengan dokter</p>
              <p class="my-2">Buat jadwal dengan dokter favoritmu</p>
            </div>
          </div>
          <div class="col-lg-4 d-flex justify-content-start mr-2">
            <i class="far fa-comments me-3"></i>
            <div>
              <p class="fw-bold">Chat dokter</p>
              <p class="my-2">Konsultasi dengan dokter favorit menggunakan Go-Doc</p>
            </div>
          </div>
        </div>
        <button class="btn btn-login mt-5">Contact Us</button>
      </div>
      <div class="col-lg-4">
        <img class="homeimg text-center" src="../../../assets/Health _Monochromatic.svg" alt="home image">
      </div>
    </div>
  </div>
</section>

<div class="container" role="main-container">
  <section class="layanan mt-5" id="section-layanan">
    <p class="title text-center">
      <span>Layanan Kami</span>
    </p>

    <div class="container">
      <div class="row g-2">
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="card d-flex flex-row align-items-center p-3">
            <img class="layanan-img pe-3" src="../../../assets/tescovid.png" alt="Card image cap">
            <p class="jenis-layanan">Tes COVID-19</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="card d-flex flex-row align-items-center p-3">
            <img class="layanan-img pe-3" src="../../../assets/kesehatan-jiwa.png" alt="Card image cap">
            <p class="jenis-layanan">Kesehatan Jiwa</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="card d-flex flex-row align-items-center p-3">
            <img class="layanan-img pe-3" src="../../../assets/kesehatan-hewan.png" alt="Card image cap">
            <p class="jenis-layanan">Kesehatan Hewan</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="card d-flex flex-row align-items-center p-3">
            <img class="layanan-img pe-3" src="../../../assets/toko.png" alt="Card image cap">
            <p class="jenis-layanan">Toko Go-Doc</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
