<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<section id="main-container" class="container">
    <!-- Begin .page-heading -->
    <div class="page-heading">
        <div class="media clearfix">
            <div class="col-lg-4 col-xl-4 mt-3">
                <div class="text-center">
                    <img class="rounded-circle z-depth-2 text-center" alt="100x100"
                        style="width: 130px; height: 130px;object-fit: cover;" [src]="imgUrl"
                        data-holder-rendered="true">
                </div>
            </div>
            <div class="col-lg-8 mt-3">
                <h2 class="media-heading"> dr. {{mProfileDoctor.fullname}}, {{mProfileDoctor.str}}
                </h2>
                <p class="lead">{{mProfileDoctor.name}}</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4 col-xl-4 mt-3">

            <div class="panel mt-3 me-3">

                <div class="panel-body pb5">
                    <h3 class="header-title">Tindakan Medis</h3>
                    <div class="card z-depth-3">
                        <ul class="mt-3">
                            <li *ngFor="let treatment of MDoctorTreatment ">
                                <h4>{{treatment.tindakan}}</h4>
                            </li>
                        </ul>
                    </div>

                    <h3 class="header-title">Riwayat Praktek</h3>
                    <div class="card z-depth-3">
                        <ul class="mt-3 me-3">
                            <li *ngFor="let riwayat of MRiwayatPraktek">
                                <h4 class="mb-0">{{riwayat.faskes_name}}, {{riwayat.location}}</h4>

                                <div class="d-flex flex-row bd-highlight">
                                    <div class="p-2 bd-highlight">
                                        <h5 class="text-muted">{{riwayat.specialization}}</h5>
                                    </div>
                                    <div class="ms-auto p-2 bd-highlight">
                                        <h5 class="text-muted">{{riwayat.tahun_mulai}} - {{riwayat.tahun_selesai}}</h5>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <h3 class="header-title">Pendidikan</h3>
                    <div class="card z-depth-3">
                        <ul class="mt-3 me-3">
                            <li *ngFor="let education of MDoctorEducation ">
                                <h4>{{education.institution_name}}
                                    <div class="d-flex flex-row bd-highlight">
                                        <div class="p-2 bd-highlight">
                                            <h5 class="text-muted">{{education.major}}</h5>
                                        </div>
                                        <div class="ms-auto p-2 bd-highlight">
                                            <h5 class="text-muted">{{education.start_year}}</h5>
                                        </div>
                                    </div>
                                </h4>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-lg-8 mt-3">
            <h3 class="header-title mt-2">Lokasi Praktek</h3>
            <div *ngFor="let lokasi of TLokasiPraktek">
                <div class="card z-depth-3" *ngFor="let data of lokasi.finaljadwal">
                    <div class="card-body">
                        <h2>{{data.faskes_name}} {{data.idrs}}
                            <h5 class="text-muted ms-3 mb-0">{{data.category}}</h5>
                            <h5 class="text-muted ms-3">{{data.full_address}}</h5>
                            <h4>Konsultasi Mulai dari </h4>
                        </h2>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="JadwalDokter">
                              <button ngModel class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Jadwal Praktek 
                              </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="JadwalDokter" data-bs-parent="#accordionExample" *ngFor="let time of data.newJadwal">
                              <div class="accordion-body">
                                  <p>{{time.day}} {{time.time_schedule_start}}-{{time.time_schedule_end}}</p> 
                               </div>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- succes -->
<div id="success" class="modal fade modaldelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <div class="icon-box">
                    <i class="material-icons">&#xE876;</i>
                </div>
                <button type="button" class="close" data-bs-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body text-center modal-content__body ">
                <h4>Berhasil!</h4>
                <button class="btn btn-success" data-bs-dismiss="modal"><span>Kembali</span></button>
            </div>
        </div>
    </div>
</div>