<div class="container" id="main-container">
  <h1>DAFTAR BANK</h1>

  <div class="container1">
    <div class="col-12">
      <button type="button" class="btn btn-primary primarybutton" data-toggle="collapse"
        (click)="onOpenModal(null!!,'add')">Tambah</button>

      <th>
        <input type="text" ngModel (ngModelChange)="onSearchBank($event)" class="searchTerm" placeholder="Search by nama"
          aria-label="Basic example">
      </th>
    </div>
  </div>

  <br>
  <div id="tableDaftarBank" class="container1" #tableDaftarBank>
    <div class="col-12">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">No</th>
            <th scope="col">Nama</th>
            <th scope="col">Kode VA</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let bank of bankTemp | paginate: { itemsPerPage: recordPer_Page, currentPage: currentPage}, index as i">
            <th>{{ (recordPer_Page * (currentPage - 1)) + i + 1 }}</th>
            <td>{{ bank.name }}</td>
            <td>{{ bank.va_code }}</td>
            <td>
              <button (click)="onOpenModal(bank, 'edit')" class="btn btn-outline-primary">Edit</button>
              <button (click)="onOpenModal(bank, 'delete')" class="btn btn-outline-danger ml-3">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  <ul class="pagination justify-content-end">
    <li>
      <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
    </li>
    <li>
      <select [(ngModel)]="mode" (ngModelChange)="sortingMBank($event)" class="btn btn-outline-primary ml-3">
        <option class="dropdown-item" value="asc">A-Z</option>
        <option class="dropdown-item" value="desc">Z-A</option>
      </select>
    </li>
  </ul>
</div>

<!-- Modal ADD-->
<div class="modal fade" id="addMBankModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel">Tambah Bank</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #addForm="ngForm" (ngSubmit)="onAddBank(addForm)">
          <div class="form-group">
            <label for="name">Nama *</label>
            <input ngModel type="text" class="form-control" id="name" name="name" aria-describedby="emailHelp"
              placeholder="Nama" required>
          </div>
          <div class="form-group">
            <label for="vacode">Kode VA *</label>
            <input ngModel type="text" class="form-control" id="va_code" name="va_code" placeholder="Kode VA" required>
          </div>
          <div class="modal-footer">
            <button type="button" id="add-bank-form" class="btn btn-secondary" data-dismiss="modal">Batal</button>
            <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Simpan</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal EDIT -->
<div class="modal fade" id="editMBankModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel">Ubah Bank</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #editForm="ngForm">
          <div class="form-group">
            <input type="hidden" ngModel="{{ editBank.id }}" name="id" id="id">
            <label for="name">Nama*</label>
            <input required ngModel="{{ editBank?.name }}" type="text" class="form-control" id="name" name="name"
              aria-describedby="emailHelp" placeholder="Nama">
              <!-- <p *ngIf="hidden">{{stringName}}</p> -->
          </div>
          <div class="form-group">
            <label for="vacode">Kode VA*</label>
            <input required ngModel="{{ editBank?.va_code }}" type="text" class="form-control" id="va_code" name="va_code"
              placeholder="Kode VA">
              <!-- <p  *ngIf="hidden">{{stringVa_Code}}</p> -->
          </div>
          <div class="modal-footer">
            <button type="button" id="add-bank-form" class="btn btn-secondary" data-dismiss="modal">Batal</button>
            <button (click)="onEditBank(editForm.value)" type="button" class="btn btn-primary" [disabled]="editForm.invalid" type="submit" data-dismiss="modal">Simpan</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal DELETE -->
<div class="modal fade" id="deleteMBankModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel">Hapus !</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          Anda yakin ingin menghapus {{ deleteBank.name }}?
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Tidak</button>
        <button (click)="onDeleteBank(deleteBank.id)" type="button" class="btn btn-primary"
        data-dismiss="modal">Ya</button>
      </div>
    </div>
  </div>
</div>