<div class="container" id="main-container">
  <h1>SPESIALISASI DOKTER</h1>

  <ul class="pagination align-items-center justify-content-left me-3">

    <li class="page-item"><button type="button" class="btn btn-primary" data-bs-toggle="collapse"
        (click)="onOpenModal(null!!, 'add')">
        [+] Tambah Spesialisasi Dokter
      </button></li>
    <li class="page-item">
      <div class="search ml-3">
        <input ngModel (ngModelChange)="searchMSpecializationAPI($event)" class="form-control me-2" type="search"
        placeholder="Cari" aria-label="Search"
          placeholder="Search...">
      </div>
    </li>
  </ul>

  <!-- Tampilan Table -->

  <div class="row" #tabelMSpecialization>
    <div id="tabelMSpecialization" class="col-12">
      <table class="table">
        <thead>
          <tr>
            <td scope="col">No.</td>
            <td scope="col">Nama</td>
            <td scope="col">Action</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let MS of MSpecialization | paginate: { itemsPerPage: records_per_page, currentPage: current_page }, index as i">
            <th>{{ (records_per_page * (current_page - 1)) + i + 1 }}</th>
            <td>{{MS.name}}</td>
            <td>
              <button (click)="onOpenModal(MS, 'edit')" class="btn btn-outline-primary"><i
                  class="fas fa-edit"></i></button>
              <button (click)="onOpenModal(MS, 'delete')" class="btn btn-outline-danger ms-3"><i
                  class="fa fa-trash"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

    <pagination-controls (pageChange)="current_page = $event"></pagination-controls>

</div>

<!-- Modal Add-->
<div class="modal fade" id="addMSpecializationModal" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="exampleModalLabel">Tambah Spesialisasi</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #addForm="ngForm" (ngSubmit)="onAddMSpecialization(addForm)">
          <div class="mb-3">
            <label for="name" class="form-label">Nama*</label>
            <input ngModel type="text" class="form-control" id="name" name="name" placeholder="Nama" required>
            <p *ngIf="hidden == true" class="text-danger">{{pesan}}</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Batal</button>
            <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary"
              >Simpan</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

  <!-- Modal Edit -->
  <div class="modal fade" id="editMSpecializationModal" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title" id="exampleModalLabel">Ubah Spesialisasi</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form #editForm="ngForm">
            <div class="mb-3">

              <input type="hidden" ngModel="{{  editMSpecialization.id }}" name="id" id="id">

              <label for="name" class="form-label">Nama*</label>
              <input ngModel="{{ editMSpecialization?.name }}" type="text" class="form-control" id="name" name="name"
                placeholder="Nama" required>
            </div>
            <div class="modal-footer">
              <button type="button" id="add-MSpecialization-form" class="btn btn-secondary"
                data-bs-dismiss="modal">Batal</button>
              <button (click)="onEditMSpecialization(editForm.value)" [disabled]="editForm.invalid" type="submit"  type="button" class="btn btn-primary"
                data-bs-dismiss="modal">Ubah Nama</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Delete-->
  <div class="modal fade" id="deleteMSpecializationModal" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title" id="exampleModalLabel">Hapus Spesialisasi</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Anda Yakin Ingin Menghapus {{deleteMSpecialization.name}}?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Batal</button>
          <button (click)="onDeleteMSpecialization(deleteMSpecialization.id)" type="button" class="btn btn-danger"
            data-bs-dismiss="modal">Hapus</button>
        </div>
      </div>
    </div>
  </div>