/* You can add global styles to this file, and also import other style files */

<<<<<<< HEAD

=======
>>>>>>> dccead3a28e6cb601d13eb67439e2ccdc622e699
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
